
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #fff;
$darkerGray: #ddd;
$darkGray: #eee;
$gray: #666;
$lightGray: #444;
$white: #111;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
